<body>
  <div id="box">
    <div class="divisor">
      <h1>Bienvenido a la Banca en Linea</h1>
      <input type="text" #usuario class="input" placeholder="user">
      <input type="password" #pass class="input" placeholder="contraseña">
      <button (click)="actualizarDato(usuario.value, pass.value)"><span>Iniciar Sesion</span></button>
    </div>
    <div class="divisor">
      <img src="../../assets/media/vivibanco-logo.png" alt="">
      <h3>con mas de 20 años de experiencia en el mercado!</h3>
    </div>
  </div>
</body>
